In [11]:
import sqlite3 as sql
import pandas as pd
from pathlib import Path

# Import the function from nba_analysis.py
from nba_analysis import create_and_populate_tables

# Run the function to create tables and populate data in the SQLite database
create_and_populate_tables()

# Use pathlib to get the path to the data directory
DATA_PATH = Path.cwd() / 'data' / 'nba_database.sqlite'

# Connect to the database
con = sql.connect(DATA_PATH)

# Query the first 10 rows from the game table
query = 'SELECT * FROM game LIMIT 10'
top_10_game = pd.read_sql(query, con)
top_10_game.head()  # Display the first 10 rows

# Inspect the schema of the database to see all tables and their details
query = """
    SELECT *
    FROM sqlite_master
    WHERE type='table'
"""
schema = pd.read_sql(query, con).sort_values('name')
print("Database Schema:\n", schema)

# View a list of all table names in the database
query = """
    SELECT name
    FROM sqlite_master
    WHERE type='table'
"""
tables = pd.read_sql(query, con)
print("Tables in the database:\n", tables)

# Inspect the columns in the 'game' table to verify structure
query = """
    PRAGMA table_info(game)
"""
game_table_info = pd.read_sql(query, con)
print("Columns in 'game' table:\n", game_table_info)

# Query to find the earliest recorded game date
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date
    LIMIT 1
"""
earliest_game = pd.read_sql(query, con)
print("Earliest Recorded Game:\n", earliest_game)

# Query to find the latest recorded game date
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date DESC
    LIMIT 1
"""
latest_game = pd.read_sql(query, con)
print("Latest Recorded Game:\n", latest_game)

# Example 1: Find the player with the most points scored in a game
query = """
    SELECT player_name, MAX(points) AS max_points
    FROM player_stats
    GROUP BY player_name
    ORDER BY max_points DESC
    LIMIT 1
"""
top_scorer = pd.read_sql(query, con)
print("Top Scorer:\n", top_scorer)

# Example 2: Find the team with the most wins
query = """
    SELECT team_name, COUNT(*) AS win_count
    FROM game
    WHERE win='1'
    GROUP BY team_name
    ORDER BY win_count DESC
    LIMIT 1
"""
top_winning_team = pd.read_sql(query, con)
print("Top Winning Team:\n", top_winning_team)

# Example 3: Find the average points scored per game by each team
query = """
    SELECT team_name, AVG(points) AS avg_points
    FROM game_stats
    GROUP BY team_name
    ORDER BY avg_points DESC
"""
avg_points_per_team = pd.read_sql(query, con)
print("Average Points per Team:\n", avg_points_per_team)

# Example 4: Find the most common game location
query = """
    SELECT arena, COUNT(*) AS game_count
    FROM game
    GROUP BY arena
    ORDER BY game_count DESC
    LIMIT 1
"""
most_common_arena = pd.read_sql(query, con)
print("Most Common Arena:\n", most_common_arena)

DatabaseError: Execution failed on sql 'SELECT * FROM game LIMIT 10': no such table: game

In [3]:
import os
print(DATA_PATH) 
print("File exists:", os.path.exists(DATA_PATH))

c:\Users\HP\PS2-Ex3-database\data\nba_database.sqlite
File exists: True

In [4]:

query = """
    SELECT name
    FROM sqlite_master
    WHERE type='table'
"""
print(pd.read_sql(query, con))

Empty DataFrame
Columns: [name]
Index: []